/*breakpoint 982*/
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .banerImg {
    content: url(../img/baneRes3.jpg);
    width: 100%;
    height: 100%;
    opacity: 1 !important;
  }
  .divContent .col-6 {
    /* width: 100%; */
    /* height: auto; */
  }
  .divContent {
    overflow: hidden;
    max-height: 80vh;
  }
  body > div:nth-child(3) > div:nth-child(1) {
    width: 100%;
  }
  body > div:nth-child(3) > div:nth-child(2) {
    position: relative;
    top: -380px;
    left: -100px;
    z-index: -1;
  }

  body > div:nth-child(4) > div:nth-child(1),
  body > div:nth-child(5) > div:nth-child(1) {
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: -30%;
  }
  body > div:nth-child(4) > div:nth-child(2),
  body > div:nth-child(5) > div:nth-child(2) {
    width: 100%;
    position: relative;
    top: -600px;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    height: 15vh !important;
  }
  .navLinks {
    position: absolute;
    right: 0px;
    height: 85vh;
    top: 15vh;
    background-color: rgb(245, 255, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 100%;
    z-index: 8;
    /* overflow-y: scroll; */
  }
  .navLinks li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
